*{margin: 0;padding: 0;}
.language p {
    border: 3px solid #6B95C7;
    width: 15%;
    margin-left: 85%;
}
.border{
    width: 100%;
    min-height: 750px;
    border: 3px solid #6B95C7;
    
}

.header {
    width: 100%;
    min-height: 100px;
    box-sizing: border-box;
    
}

.logo {
    width: 20%;
    min-height: 80px;
    box-sizing: border-box;
    border: 3px solid #6B95C7;
    float: left;
    margin:.5%; 
    
}

.h_bar {
    width: 36%;
    min-height: 80px;
    box-sizing: border-box;
    border: 3px solid #6B95C7;
    float: left;
    margin: .5% .5%;
}

.search {
    width: 20%;
    min-height: 80px;
    box-sizing: border-box;
    
    float: left;
    margin: .5% .5%;
}

.s_top {
    width: 100%;
    min-height: 35px;
    box-sizing: border-box;
    border: 3px solid #6B95C7;
    margin-bottom: 7px;
}


.password {
    width: 20%;
    min-height: 80px;
    box-sizing: border-box;
    border: 3px solid #6B95C7;
    float: right;
    margin:.5%;
}

.content {
    width: 100%;
    min-height: 600px;
    box-sizing: border-box;
    
    
}

.left {
    width: 21%;
    min-height: 580px;
    margin:.5%; 
    float: left;
}
.left_t{
    width: 100%;
    min-height: 300px;
    box-sizing: border-box;
    border: 3px solid #6B95C7;
    margin:.5%; 
    
}

.left_b{
    width: 100%;
    min-height: 265px;
    box-sizing: border-box;
    border: 3px solid #6B95C7;
    margin-top:5.5%;
}
.middle {
    width: 56%;
    min-height: 580px;
    box-sizing: border-box;
    
    margin:.5%; 
    float: left;
    
}
.mtop{width: 100%;
    min-height: 100px;
    box-sizing: border-box;
    border: 3px solid #6B95C7;
    
    margin-bottom: 2.5%;
    
}
.mmid{
    width: 60%;
    min-height: 50px;
    box-sizing: border-box;
    border: 3px solid #6B95C7;
    
    
    
    
}
.mdwn{
     width: 100%;
    min-height: 396px;
    box-sizing: border-box;
    border: 3px solid #6B95C7;
    margin-top: 2.5%;
    
    
}
.mdcon{
    width: 97%;
    min-height: 200px;
    box-sizing: border-box;
    border: 3px solid #6B95C7;
    margin: 1.5%
    
}

.right {
    width: 20%;
    min-height: 580px;
    box-sizing: border-box;
   
    float: right;
    margin:.5%;
}
.right_top{
    width: 100%;
    min-height: 280px;
    box-sizing: border-box;
    border: 3px solid #6B95C7;
    
    }
.right_bot{
    width: 100%;
    min-height: 286px;
    box-sizing: border-box;
    border: 3px solid #6B95C7;
    margin-top: 6.5%;
    
}
.footer {
    width: 100%;
    min-height: 100px;
    box-sizing: border-box;
    
}
.slider{
    width: 99%;
    min-height: 100px;
    box-sizing: border-box;
    border: 3px solid #6B95C7;
    margin:.5%; 
}