*{margin: 0; padding: 0;}
/* header*/
.header {width: 100%; min-height: 100px; background-color: cornflowerblue;overflow: hidden;
}

.logo {width: 25%; min-height: 50px;background-color: forestgreen; border: 1px solid red; margin-top: 25px ; margin-left: 3%;float: left;
}

.navigation {width: 65%; min-height: 80px;background-color: sandybrown; border: 1px solid red;float: right;margin-top: 10px;margin-right: 3.5%;
}

.social_icon {width: 65%;min-height: 30px;background-color: darkslateblue; border: 1px solid red;margin: 0 auto;margin-top: 5px;
}

.menu_bar {width: 90%;min-height: 35px;background-color: fuchsia; border: 1px solid red;margin: 0 auto;margin: 5px auto;
}
/*cotender*/
.content {width: 100%;min-height: 500px;background-color: burlywood;
}

.side_bar {box-sizing: border-box; width: 40%;min-height: 500px;background-color: crimson; border: 1px solid black;float: left
}

.side_bar_top {width: 70%;min-height: 200px;background-color: black; border: 1px solid blue;margin: 20px auto;
}

.side_bar_bottom {width: 80%;min-height: 240px;background-color: black;border: 1px solid blue;margin: auto;
}

.main_content {box-sizing: border-box;width: 60%;min-height: 500px;border: 1px solid black;float: right;
}

.content_top {box-sizing: border-box width: 100%;min-height: 100px;background-color: mediumblue; border: 1px solid blue;
}

.slider {width: 90%;min-height: 80px;background-color: dodgerblue; border: 1px solid blue;margin: 10px auto;
}

.content_bottom {box-sizing: border-box;width: 100%;min-height: 394px;border: 1px solid blue;
}

.con_bot_top {box-sizing: border-box; width: 100%;min-height: 150px;background-color: cyan; border: 1px solid blue;
}

.bot_left {width: 35%;min-height: 110px;background-color: darkcyan; border: 1px solid blue;margin-left: 5%;margin-top: 20px;float: left;
}

.bot_right {width: 40%;min-height: 110px;background-color: darkcyan;border: 1px solid blue;float: right;margin-top: 20px;margin-right: 5%
}

.con_bot_down {box-sizing: border-box;width: 100%;min-height: 244px;background-color: cadetblue; border: 1px solid blue;
}

.con_bot_box {width: 26.7%;min-height: 214px;background-color: blueviolet; border: 1px solid blue;float: left;margin-left: 5%;margin-top: 15px
}
/*footer*/
.footer {width: 100%;min-height: 100px;background-color: coral;overflow: hidden;
}

.footer_left {width: 40%;min-height: 80px;background-color: brown;border: 1px solid green;margin-left: 3%;margin-top: 10px;float: left;
}

.footer_right {width: 45%;min-height: 80px;background-color: brown; border: 1px solid green;float: right;margin-top: 10px;margin-right: 3%;
}